<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MerkeziHekimRandevuSistemi.Properties.Settings.MerkeziHekimRandevuSistemiConnectionString"
            connectionString="Data Source=BEYZA\BEYZA;Initial Catalog=MerkeziHekimRandevuSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>